.back {
    background-color: #FFFDFA;
    padding-left: 7rem;
    padding-right: 4rem;
    padding-top: 4rem;
}

#top {
    margin-right: 4.5rem;
}

#middle {
    padding-top: 2rem;
}

#bottom {
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.top-img {
    width: 80%;
}

.top-item {
    padding-left: 1rem;
}

.top-bar {
    color: #5D5F79;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: color .15s ease-in-out, backgr;
}


.top-bar:hover {
    color: #F15E50;
}

.btn-offcanvas{
    position: relative;
    left: 5rem;
}


.mid-img {
    width: 102%;
}

.mid-heading {
    padding-top: 1.5rem;
    padding-right: 3rem;

}

.mid-heading h1 {
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.mid-content {
    padding-top: 1.5rem;
    margin-bottom: -50px;
}

.mid-content p {
    color: #5D5F79;
    height: 120px;
    width: 300px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    text-align: left;

}

.col-right {
    position: relative;
    left: 2rem;
    background-color: #00001A;
    width: 20rem;
    height: 27.2rem;
}

hr {
    border-style: solid;
    color: #FFFDFA;
    margin-right: 1rem;
}

.side {
    padding-left: 1rem;
    padding-top: 1rem;
    height: 100%;
    width: 90%;

}

.side-heading {
    color: #E9AB53;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.side-content {
    padding-top: 0.2rem;
    padding-right: 0.5rem;
    font-size: 15px;
    color: #FFFDFA;

}

.side-content p {
    color: #C5C6CE;
    font-size: 15px;
}

.side-content a:link {
    color: #FFFDFA;
    text-decoration: none;
}

.side-content a:hover {
    color: #E9AB53;
    text-decoration: none;
}

.btn-rd {
    background-color: #F15E50;
    border-radius: 0;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.3rem;
    padding: 0.8rem 1rem;
    font-size: 10px;
    color: #FFFDFA;
    position: relative;
    left: 20.3rem;
    bottom: 3rem;

}

.btn-rd:hover {
    background-color: #00001A;
    color: #FFFDFA;

}


/* .bottom-row{
    max-height: 200px;
} */






.bottom-img img {
    width: 100%;
}

.bottom-content {
    width: 105%;
}

.bottom-content p {
    font-size: 15px;
}

.bottom-content h3 {
    color: #C5C6CE;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1rem;
}


/* media query */

@media (max-width: 1020px) {

    .back {
        padding: 0 2rem 0 2rem;
    }

    .top-item {
        padding-bottom: 1rem;
    }

    .mid-img {
        width: 100%;
    }

    .mid-heading {
        width: 100%;
        font-size: xx-large;
        font-weight: 800;
    }

    .mid-content {
        width: 100%;
        font-size: 15px;
        padding-bottom: 2rem;
    }

    .btn-rd {
        position: static;
        left: 0rem;
        top: 0rem;
    }

    .col-right {
        position: relative;
        left: 2rem;
        background-color: #00001A;
        width: 20rem;
        height: 35.2rem;
    }

    .col-rt {
        position: relative;
        right: 2rem;
        padding-top: 2rem;
        padding-bottom: 1rem;

    }

    .side{
        width: 70%;
    }

    .bottom-img img {
        width: 8rem;
        padding-bottom: 2rem;
    }

    .bottom-content {
        width: 190%;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
    }

}










/* soft orange #E9AB53 */
/* grayish blue #C5C6CE */
/* soft red #F15E50 */